body {
      padding: 4em 2em 1em 0;
    }


h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; color:#8B7500 ;}
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
color: #8B7500;
}
article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
color: #8B7500;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
color: #8B7500;
}

.makefixed {
  height:100%;
  padding: 2em .5em 0 1em;
  background-color: #eee;

}

.post-meta {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  overflow: auto;
  padding: 0;
}

.post-meta li, .post-meta a {
  color: #DC143C;
}

.post-meta li {
  display: inline;
  float: left;
  overflow: auto;
  padding-left: 0.5em;
}

.post-meta li:first-child {
  padding-left: 0;
}

.post-meta i {
  padding-right: 0.4em;
}


.sidebar {
    background-color: #fff;
    color: #fff;
    padding-top: 10%;
    position: fixed;
    top: 0;
}

.sidebar-header {
    margin-bottom: 2em;
    text-align: center;
}

