<div class=author-info>
    <img src="{{ site.author_image_path }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <h1 class=author-name><a href=/>उमङ्ग बिष्ट</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class="fa fa-github-alt fa-2x" style="color:#000"></i></a>
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x" style="color:#6E329D"></i></a>
        <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin-square fa-2x" style="color:#007bb6"></a></i>
        <a href="{{ site.researchgate_url }}"><i class="fa fa-flask fa-2x" style="color:#CBEE70"></i></a>
    </div>
    {% if !(page.homepage == True) %}
    <p class=author-bio>{{ site.author_bio }}</p>
    {% endif %}


    <br>
    <br>
    <a href="https://db.tt/rJjB3Llm"> <i class="fa fa-dropbox fa-2x"></i>  Free Online Storage <br> upto 22GB</a>
</div>