<div class="panel panel-primary">
  <!-- Default panel contents -->
<div class="panel-heading">Coursera 2013</div>

<ul class="list-group">
<li class="list-group-item"><p><a href="https://www.coursera.org/course/ml" target="_blank"><strong>Machine Learning</strong></a>, <em>Andrew Ng, Stanford University</em> <a href="https://www.dropbox.com/s/ekv2spnt4x07ogm/machinelearning.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw"></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/algo" target="_blank"><strong>Design and Analysis of Algorithms, Part I</strong></a>, <em>Tim RoughGarden, Stanford University</em> <a href="https://www.dropbox.com/s/w83mcmpvpa6owce/ADA%201.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/datasci" target="_blank"><strong>Data Science</strong></a>, <em>Bill Howe, University of Washington</em> <a href="https://www.dropbox.com/s/fuy5re22eyefj80/datascience.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw"></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/compdata" target="_blank"><strong>Computing for data Analysis</strong></a>, <em>Roger D. Peng, John Hopkins University</em> <a href="https://www.dropbox.com/s/cvkzx6dck94qe21/computing%20for%20data%20analysis.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/images" target="_blank"><strong>Image and Video Processing</strong></a>, <em>Guillermo Sapiro, DUke University</em> <a href="https://www.dropbox.com/s/nv9adcygj1ph5o6/image%20and%20video%20processing.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>
</ul>
</div>


<div class="panel panel-info">
  <!-- Default panel contents -->
<div class="panel-heading">Coursera 2014</div>

<ul class="list-group">
<li class="list-group-item"><p><a href="https://www.coursera.org/course/randomness" target="_blank"><strong>Unpredictable? Randomness, Chance and Free Will</strong></a>, <em>Valerio Scarani, National University of Singapore</em> <a href="https://www.dropbox.com/s/b0nfegpbb24p24h/Coursera%20randomness%202014.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/statistics" target="_blank"><strong>Data Analysis and Statistical Inference</strong></a>, <em>Dr. Mine Çetinkaya-Rundel, Duke University</em> <a href="https://www.dropbox.com/s/l00avomjt2jcidx/Coursera%20statistics%202014.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/exdata" target="_blank"><strong>Exploratory Dat Analysis</strong></a>, <em>Roger D. Peng, Jeff Leek, Brian Caffo, John Hopkins University</em> <a href="https://www.dropbox.com/s/sl5h9dsdc2xmkmk/Coursera%20exdata%202014.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/progfun" target="_blank"><strong>Functional Programming Principles with Scala</strong></a>, <em>Martin Odersky, École Polytechnique Fédérale de Lausanne</em> <a href="https://www.dropbox.com/s/j8tab3g4vnnmu7c/Coursera%20progfun%202014.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/algo2" target="_blank"><strong>Design and Analysis of Algorithms, Part II</strong></a>, <em>Tim RoughGarden, Stanford University</em> <a href="https://www.dropbox.com/s/ilyfiwdyidtsi9g/Coursera%20algo2%202014.pdf?dl=0" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/learning" target="_blank"><strong>Learning How to Learn: Powerful mental tools to help you master tough subjects</strong></a>, <em>Barbara Oakley and Terrence Sejnowski, University of California, San Diego </em> </p></li>

<li class="list-group-item"><p><a href="https://www.coursera.org/course/mmds" target="_blank"><strong>Mining Massive Datasets</strong></a>, <em>Jeff Ullman, Anand Rajaraman, Jure Leskovec, Stanford University </em><a href="https://www.dropbox.com/s/eezy4ubfc4hh66q/Coursera%20mmds%202014?dl=0" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>
 </p></li>
</ul>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
<div class="panel-heading">Coursera 2015</div>

<ul class="list-group">
<li class="list-group-item"><p><a href="https://www.coursera.org/course/reactive" target="_blank"><strong>Principles of Reactive Programming</strong></a>, <em>Martin Odersky, École Polytechnique Fédérale de Lausanne, Roland Kuhn, Erik Meijer</em> <a href="https://www.dropbox.com/s/p4ll61h1zvxevc4/Coursera%20reactive%202015.pdf?dl=0" target="_blank"><i class="fa fa-file-pdf-o fa-lg fa-fw "></i></a></p></li>


</ul>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
<div class="panel-heading">Edx 2015</div>

<ul class="list-group">
<li class="list-group-item"><p><a href="https://courses.edx.org/courses/BerkeleyX/CS100.1x/1T2015/info" target="_blank"><strong>Introduction to Big Data with Apache Spark</strong></a>, <em>University of California, Berkeley</em> <a href="https://verify.edx.org/cert/eb668fb060e8479f9beb68159baebd6c" target="_blank"><i class="fa fa-link fa-lg fa-fw "></i></a></p></li>

<li class="list-group-item"><p><a href="https://courses.edx.org/courses/BerkeleyX/CS190.1x/1T2015/info" target="_blank"><strong>Scalable Machine Learning</strong></a>, <em>University of California, Berkeley</em> <a href="https://verify.edx.org/cert/ac63f473bb424e24aa7a0c0c5db05e87" target="_blank"><i class="fa fa-link fa-lg fa-fw "></i></a></p></li>


</ul>
</div>
