<nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
    <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand visible-xs" href="/" style="padding: .2em .5em;"><img src="http://s.gravatar.com/avatar/{{ site.gravatar }}?s=40" class="img-circle" /></a>
      <a class="navbar-brand hidden-xs" href="/">UMB</a>

       <div class="navbar-header visible-xs" style="padding:0;">
        <a class="navbar-toggle nav-link" href="#" style="color:#8B7500; margin-right:0.1em;padding:0.2em;">
          <i class="fa fa-pencil-square fa-lg fa-fw"></i>Blog
        </a>

        <a class="navbar-toggle nav-link" href="{{ site.twitter_handle }}" target="_blank" style="color:4099ff;margin-right:0.1em;padding:0.2em;">
        <i class="fa fa-twitter fa-lg"></i>
        </a>

        <a class="navbar-toggle nav-link" href="{{ site.github_url }}" target="_blank" style="color:#000;margin-right:1.5em;padding:0.2em;">
          <i class="fa fa-github-square fa-lg"></i>
        </a>

        <a class="navbar-toggle nav-link" href="{{ site.linkedin_url }}" target="_blank" style="color:#007bb6;margin-right:0.1em;padding:0.2em;">
          <i class="fa fa-linkedin-square fa-lg"></i>
        </a>

        <a class="navbar-toggle nav-link" href="mailto:{{ site.email }}" target="_blank" style="color:#6E329D;margin-right:0.1em;padding:0.2em;">
          <i class="fa fa-envelope fa-lg"></i>
        </a>

<!--         <a class="navbar-toggle nav-link" href="/files/cv.pdf" style="color: #DC143C;;margin-right:0.25em;padding:0.2em;" target="_blank">
          <i class="fa fa-download fa-fw"></i>CV</a>
        </a> -->
        
        </a>
      </div>

    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    

  </div>

  </nav>