

<br>
<br>
 <p>I'm <strong> Umanga Bista </strong> from <strong> Kathmandu, Nepal. </strong> </p> 

 <p>I'm <strong> Research Assistant @<a href="http://www.logpoint.com/en/" target="_blank">LogPoint</a></strong> Lalitpur, Nepal.</p>

<p>I'm also <strong> Student @<a href="http://www.coursera.org" target="_blank">Coursera</a>, <a href="http://www.edx.org" target="_blank">Edx</a></strong>. <button class="btn btn-info" data-toggle="modal" data-target="#learning">
  Courses
</button> </p>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="learning" tabindex="-1" role="dialog" aria-labelledby="learning" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="learning">Courses</h4>
      </div>
      <div class="modal-body">
        {% include learning.html %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h4>Research Interests</h4>
<ul>
<li> Machine Learning, Data analysis and Anomaly Detection</li>
<li> <a href="http://en.wikipedia.org/wiki/Streaming_algorithm">Streaming Algorithms</a> and <a href="http://en.wikipedia.org/wiki/Data_stream_mining\" target="_blank">Mining</a></li>
<li><p> <a href="http://en.wikipedia.org/wiki/Distributed_algorithm%E2%80%8E" target="_blank">Distributed Algorithms</a> and <a href="http://en.wikipedia.org/wiki/Big_data">Big Data</a></p>

<p>I'm currently working on distrbuted streaming algorithms for log mining. I work on clustering of log messages in real time, and anomaly detection based on statistical techniques for <a href="http://en.wikipedia.org/wiki/Data_stream_mining\" target="_blank">SIEM solutions</a>.</p></li>
</ul>

<h4>Past</h4>
<p><i class="fa fa-graduation-cap fa-lg fa-fw"></i> I was a computer engineering student at <a href="http://ioe.edu.np" target="_blank">Institute of Engineering, Central Campus Pulchowk, Lalitpur, Nepal </a>[2009-2013].</p>
<p><i class="fa fa-briefcase fa-lg fa-fw"></i> Previously, I have worked on financial data representation and mining using <a href="http://en.wikipedia.org/wiki/XBRL" target="_blank">XBRL</a> for annual financial statements collected by <a href="http://www.ocr.gov.np" target="_blank">Office of Company Registrar, Nepal</a> [2012 oct to 2013 sept].</p>