<h3>Research Assistant @<a href="http://www.logpoint.com/en/">LogPoint</a></h3>

<h4>Lalitpur, Nepal.</h4>

<p>umanga.bista [at] logpoint.com</p>

<h3>Student @<a href="http://www.coursera.org">Coursera</a></h3>

<h3>Research Interests</h3>

<ul>
<li> Machine Learning, Data analysis and Anomaly Detection</li>
<li> <a href="http://en.wikipedia.org/wiki/Streaming_algorithm">Streaming Algorithms</a> and <a href="http://en.wikipedia.org/wiki/Data_stream_mining\">Mining</a></li>
<li><p> <a href="http://en.wikipedia.org/wiki/Distributed_algorithm%E2%80%8E">Distributed Algorithms</a> and <a href="http://en.wikipedia.org/wiki/Big_data">Big Data</a></p>

<p>I'm currently working on distrbuted streaming algorithms for log mining. I work on clustering of log messages in real time, and anomaly detection based on statistical techniques for <a href="http://en.wikipedia.org/wiki/Data_stream_mining\">SIEM solutions</a>.</p></li>
</ul>


<h3>Past</h3>

<p><i class="fa fa-graduation-cap fa-lg"></i> I was a computer engineering student at <a href="http://ioe.edu.np">Institute of Engineering, Central Campus Pulchowk, Lalitpur, Nepal</a>.</p>

<p>Previously, I have worked on financial data representation and mining using <a href="http://en.wikipedia.org/wiki/XBRL">XBRL</a> for annual financial statements collected by <a href="http://www.ocr.gov.np">Office of Company Registrar, Nepal</a>.</p>