<h3> Resources </h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
  	<a href="http://nbviewer.ipython.org/gist/bistaumanga/" target="_blank"><i class="fa fa-book fa-lg fa-fw"></i> Ipython Notebooks</a>
  </li>
  <li class="list-group-item list-group-item-info">
  	<a href="https://gist.github.com/bistaumanga/" target="_blank"><i class="fa fa-github-square fa-lg fa-fw"></i> Gists</a>
  </li>
  <li class="list-group-item list-group-item-primary">
  	<a href="https://gist.github.com/bistaumanga/" target="_blank"><i class="fa fa-slideshare fa-lg fa-fw"></i> SlideShare</a>
  </li>
</ul>

<h3>Featured Presentations</h3>

<div class="panel panel-success">
  <div class="panel-heading"><strong> <a href="//www.slideshare.net/bistaumanga/xbrl-implementation-for-financial-reporting-to-the-office" title="Xbrl implementation for financial reporting to the office" target="_blank"> Xbrl implementation for financial reporting to the office </a> </strong></div>
  <div class="panel-body">
    <iframe src="//www.slideshare.net/slideshow/embed_code/39040535" width="510" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  </div>
</div>


